# Introduction to Python (Mon Oct 21, 2024)

In [1]:
1 + 2

3

In [2]:
print("hello, world!")

hello, world!

We use markdown to write notes. 

Press `Shift + Enter` to execute a cell.

You can write heading using:

```
# Heading level 1
## Heading level 2
```

# Heading level 1
## Heading level 2

You can also write math.

```
$x^2 + y^2 = z^2$

$\Sigma_{x=0}^{n}{x} = \frac{n (n+1)}{2}$
```

$x^2 + y^2 = z^2$

$\Sigma_{x=0}^{n}{x} = \frac{n (n+1)}{2}$

## Quick Recap of Python

In [4]:
print("hello, world!")

hello, world!

## Python Datatypes

In [5]:
x = 1
print(x)

x = "hello"
print(x)

1
hello

### Integers

Python has integers.

In [7]:
7 + 2

9

In [8]:
7 - 2

5

In [10]:
7 * 2

14

In [11]:
7 / 2

3.5

To perform integer division, use the `//` operator.

In [12]:
7 // 2

3

In [13]:
2 ** 10

1024

In [15]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

### Floating Point Numbers

Python has floating point numbers too.

In [17]:
1.2 + 2.3

3.5

In [18]:
0.1 + 0.2

0.30000000000000004

Please checkout https://0.30000000000000004.com/ for explanation.

### Strings

Strings in Python can be closed in single quotes of double quotes.

In [19]:
"hello"

'hello'

In [20]:
'world'

'world'

In [21]:
"hello" + "world"

'helloworld'

In [22]:
"hello" * 5

'hellohellohellohellohello'

In [23]:
line = "-" * 40
print(line)

----------------------------------------

In [24]:
len("hello")

5

**Problem:** Can you write a program to generate the following pattern using Python code? It has exactly 20 hyphen (`-`) characters.

```
@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@-@
```

**Problem:** Write a program to display a header and footer for name as shown below.

```
name = "Python"
# your code here
```

Will produce:

```
------
Python
------
```

If the value of name is "Bangalore", the output would be:

```
---------
Bangalore
---------
```

In [25]:
name = "Python"

In [26]:
print(name)

Python

Python supports multi-line strings too!

In [27]:
message  = """
Hello everyone,

Welcome to the FCP class.
"""

In [28]:
message

'\nHello everyone,\n\nWelcome to the FCP class.\n'

In [29]:
print(message)

Hello everyone,

Welcome to the FCP class.

#### String Formatting

Python uses format strings for string formatting. 

They are like regular strings, but start with a prefix `f`.

In [30]:
name = "Python"
message = f"Hello {name}"
print(message)

Hello Python

In [31]:
name = "Anand"

In [32]:
message = f"""
Dear {name},

Good morning!
"""

In [33]:
print(message)

Dear Anand,

Good morning!

In [36]:
n = 12

for i in range(1, 11):
    print(f"{n} * {i} = {n*i}")

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

The string formatting supports aligning.

In [37]:
n = 12

for i in range(1, 11):
    print(f"{n:2d} * {i:2d} = {n*i:3d}")

12 *  1 =  12
12 *  2 =  24
12 *  3 =  36
12 *  4 =  48
12 *  5 =  60
12 *  6 =  72
12 *  7 =  84
12 *  8 =  96
12 *  9 = 108
12 * 10 = 120

Python has good support for unicode text.

In [38]:
name = "ಭಾರತೀಯ ಅಂಕಿಅಂಶಗಳ ಸಂಸ್ಥೆ"

In [39]:
print("Welcome to", name)

Welcome to ಭಾರತೀಯ ಅಂಕಿಅಂಶಗಳ ಸಂಸ್ಥೆ

In [43]:
print("\u0c05\u0c06\u0c07\u0c08") # telugu
print("\u0c85\u0c86\u0c87\u0c88") # kannada
print("\u0905\u0906\u0907\u0908") # hindi

అఆఇఈ
ಅಆಇಈ
अआइई

In [44]:
cat = "\U0001f638"

In [45]:
cat

'😸'

In [46]:
cat * 10

'😸😸😸😸😸😸😸😸😸😸'

## Lists

In [48]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [49]:
x = ["a", "b", "c", "d"]

In [50]:
x

['a', 'b', 'c', 'd']

In [51]:
len(x)

4

In [52]:
names = ["Alice", "Bob", "Charlie", "Dave"]

In [53]:
names

['Alice', 'Bob', 'Charlie', 'Dave']

In [54]:
len(names)

4

In [55]:
names[0]

'Alice'

In [56]:
names[1]

'Bob'

We can use for loop to iterate over a list.

In [62]:
for name in names:
    print("Hello", name)

Hello Alice
Hello Bob
Hello Charlie
Hello Dave

How to print them in the same line?

In [64]:
for name in names:
    print("Hello", name, end=" * ")

Hello Alice * Hello Bob * Hello Charlie * Hello Dave *

### Dictionaries

In [65]:
phone_numbers = {
    "Alice": 1234,
    "Bob": 2345,
    "Charlie": 3456
}

In [66]:
phone_numbers

{'Alice': 1234, 'Bob': 2345, 'Charlie': 3456}

In [67]:
phone_numbers["Alice"]

1234

In [68]:
phone_numbers["Dave"] = 4567

In [69]:
phone_numbers

{'Alice': 1234, 'Bob': 2345, 'Charlie': 3456, 'Dave': 4567}

In [70]:
phone_numbers["Alice"] = 1235

In [71]:
phone_numbers

{'Alice': 1235, 'Bob': 2345, 'Charlie': 3456, 'Dave': 4567}

## Functions, Methods & Modules

Python has many built-in functions.

In [72]:
print("hello")

hello

In [73]:
len("hello")

5

In [74]:
sum([1, 2, 3, 4, 5])

15

Python doesn't allow operations on incompatible datatypes.

In [75]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The built-in functions `int` and `str` can be used to convert values to integer and string respectively.

In [76]:
str(1) + "2"

'12'

In [77]:
1 + int("2")

3

### Example: Counting the number of digits in a number

In [78]:
12345

12345

In [79]:
2 ** 100

1267650600228229401496703205376

In [82]:
# how many digits  are there in number n?
n = 2 ** 100

len(str(n))

31

### Writing our own functions

In [83]:
def square(x):
    return x*x

In [84]:
square(4)

16

Can we convert the count digits example into a function?

In [85]:
def count_digits(n):
    return len(str(n))

In [86]:
count_digits(2**100)

31